body{
	font-family: 'Open sans', sans-serif;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: #F8F8F8;
}

html{
	background-image: url("Images/background.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed;
}

header{
	background-color: blue;
}

header a{
	text-decoration : none;
	font-size : 3em;
	color: white;
	padding-left: 1%;
	padding-right: 1%;
	transition: 0.2s;
	margin: 0;
}

p{
	margin: 20px;
	margin-right: 10%;
	margin-left: 10%;
}


body{
	text-align: center;
}

table{
	margin-left: auto;
	margin-right: auto;
}

td{
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-right: 1.5em;
	padding-left: 1.5em;
}

td a{
	text-decoration : none;
	color : blue;
	font-weight: bold;
}

header a:hover{
	background-color: #F8F8F8;
	color: black;
}

#accueil{
	width: 13%;
	display: inline-block;
}

#header_right{
	text-align: right;
	width: 84.69%;
	display: inline-block;
}

.err{
	color: red;
	transition: 0.2s;
}

.succes{
	color: green;
	transition: 0.2s;
}

input{
	margin:10px;
}

img.desc{
	width: 70%;
}

footer{
	padding-bottom: 40px;
}

#accueilHTML{
	background:none;
}

#acces{
	margin-top: 100px;
	border-radius: 5%;
	width:300px;
}